* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection {
    background-color: #2cb7df;
}
body {
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
}
.home-section {
    background-image: url('../img/banner.jpg');
    background-size: cover;
    height: 620px;
}
.overlay-bg-black {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
}
ul {
    list-style-type: none;
}
.topbar {
    background-color: #2cb7df;
}
.main-header {
    display: fixed !important;
}
.header-menu {
    background-color: #fff;
    text-align: center;
}
.nav-item {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-around;
}
.nav-link {
    color: #000;
    transition: 0.6s ease;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 20px;
    font-weight: 500;
    border-radius: 0px;
}
.nav-item:hover .nav-link {
    color: #2cb7df;
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
}
.intro-p {
    font-size: 26px;
    color: #fff;
}
.intro-h2 {
    font-weight: 700!important;
    text-transform: uppercase!important;
    margin-bottom: 3rem!important;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}
.section-header {
    padding-bottom: 30px;
    position: relative;
}
.section-header .section-heading {
    max-width: 540px;
    margin: 0 auto;
}
.section-header .section-heading h3 {
    font-size: 40px;
}
.section-header .section-description {
    margin-bottom: 20px;
    position: relative;
}
.fsize-16 {
    font-size: 16px;
}
.parallax {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: border 0.3s ease-in, box-shadow 0.3s ease-in, background 0.3s, opacity 0.3s ease-in;
}
.overlay-bg-theme {
    background: #263077;
    opacity: 0.5;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.corona-precautions {
    background-image: url('../images/corona-precautions.jpg');
}
.content-box h5 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18x;
}
.pec-img {
    overflow: hidden;
    width: 100px;
    height: 100px;
}
.pec-img img:hover {
    transform: scale(1.5);
}
a {
    color: black;
}
.content-box a:hover {
    color: #263077;
    text-decoration: none;
    transition: 0.5s;
}
.text-light-white {
    color: #999;
    margin: 0;
    font-size: 16px;
    line-height: 1.8;
}
img {
    width: 100%;
}
.text-lblue {
    color: #2cb7df;
}
.wash_img {
    height: 150px;
    overflow: hidden;
}
.wash_img img {
    width: 100%;
    height: 100%;
}
.wash_img img:hover {
    transform: scale(1.5);
}
.wash-title {
    padding: 5px;
    margin-top: 5px;
}
/* ask section style */
.faqs .faq-header h3 {
    font-size: xxx-large;
}
.freq-des {
    line-height: 1.8;
}
.skyBlue {
    color: #2cb7df;
}
#accordion .card {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
    color: #111111;
}
#accordion .card .btn-link, #accordion .card .btn-link:hover {
    color: #111;
    text-decoration: none;
    transition: color 0.3s ease;
}
.btn_info, .ask button {
    position: relative;
}
.ask button.text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}
.ask button .letter {
    display: inline-block;
    line-height: 1em;
}
.btn_info::before {
    content: '-';
    background-color: #fff;
    color: #376bff;
    position: absolute;
    right: 3px;
    top: 8px;
    line-height: 10px;
    padding: 6px;
    font-size: 18px;
    transition: color 0.3s ease;
}
.btn_info.collapsed::before {
    content: '+';
    background-color: #000;
    color: #fff;
}
.card-body {
    background-color: #fff;
    border: 1px solid #2cb7df;
    border-top-color: rgb(44, 183, 223);
    border-top-style: solid;
    border-top-width: 1px;
    border-top: 0;
}
.corImg {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.corImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.whitecolor {
    color: #fff !important;
}
.skyBlueBg {
    color: #fff !important;
    background-color: #2cb7df;
    border: none;
    transition: all 0.3s ease;
}
.ask .submit:hover, .submit:focus {
    background-color: #263077;
    color: #fff;
}
.ask input {
    border: 2px solid #ddd;
    transition: border-bottom 0.4s ease;
}
.ask input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #2cb7df;
}







#corona-symptoms{
    background-image: url(../img/symptoms-bg.jpg);
   background-size: cover;
   background-attachment: fixed;
   text-align: center;
   margin: 5rem 0rem;
}
#corona-symptoms .overlay-bg{
    background-color:rgba(38, 48, 119, 0.5) ;
    padding: 3rem 0rem;
}
#corona-symptoms .overlay-bg h1{
    
    color: white;
    font-weight: 600;
   
}
#corona-symptoms .overlay-bg p{
    color: white;
    margin: 2rem 0rem;
    font-family: 'Ubuntu', sans-serif;
}


#corona-symptoms .overlay-bg .row .single-symptoms{
    position: relative;
    overflow: hidden;
    margin-bottom: 3rem;
    height: 430px;
}

#corona-symptoms .overlay-bg .row .single-symptoms img{
   width: 100%;
   height: 100%;
  
}
#corona-symptoms .overlay-bg .row .single-symptoms .overlay {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 0rem 2rem;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

#corona-symptoms .overlay-bg .row .single-symptoms .overlay h4{
    font-weight: 800;
    font-size: 2rem;
}
#corona-symptoms .overlay-bg .row .single-symptoms .overlay p{
    color: #999;
    font-family: 'Ubuntu', sans-serif;
}


#corona-symptoms .overlay-bg .row .single-symptoms .overlay button{
    
    padding: 0.8rem 2.5rem;
}


#corona-symptoms .overlay-bg .row .single-symptoms .overlay button:hover {
    background-color: rgb(38, 48, 119);
}

#corona-symptoms .overlay-bg .row .single-symptoms:hover .overlay{
    top: 0%;

}

#corona-symptoms .overlay-bg .row .single-symptoms .overlay2{
    background-color: white;
    padding: 1rem 0rem;
    position: absolute;
    bottom: 0%;
    width: 100%;

}


#corona-symptoms .overlay-bg .row .single-symptoms .overlay2 h4{
    font-weight: 600;
}
#corona-symptoms .overlay-bg .row .single-symptoms:hover .overlay2{
    top: 100%;
}

/*ourSpecialist section start */

.head p
{
    color: #2cb7df;
    font-family: 'Lato', sans-serif;
    line-height: 1.8;
}
.head h3
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}
.caption
{
    display: flex;
    align-content: center;
    justify-content: center;
}

.All
{
    position: relative;
    
}
.caption h4
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: #2cb7df;
}

.docData
{
    position: absolute;
    top: 125%;
    left: 0rem;
    height: 125%;
    background-color: #2cb7df;
    border-top: 2px white;
    display:none;
    transition: top 1s !important;
}
.docData h4
{
    font-weight: 500;
    font-size: 1.6rem;
    transition: color 0.3s;
}
.icon i
{
    border: 2px white solid;
    transition: background-color 0.3s;
}
.All:hover .docData
{
    top:0%;
    display: unset;
}
.docData i:hover 
{
background-color: #263077;
border-color: #263077;
}
.docData h4:hover 
{
    color:#263077;
}
/*end*/
